.forecast {
    margin-top: 20px;
    text-align: center;
}

.forecast-horizontal {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
}

.forecast-card1 {
    padding: 15px;
    font-size: medium;
    font-style: bold;
    color: rgb(229, 226, 226);
    background: rgba(21, 206, 248, 0.312);
    width: fit-content;
    
}

.forecast-card {
    border-radius: 10px;
    padding: 15px;
    font-size: small;
    font-style: oblique bold;
    color: rgb(229, 226, 226);
    background: rgba(36, 35, 35, 0.25);
    width: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

.forecast-card:hover {
    transform: scale(1.05);
}

.forecast-date {
    font-weight: bold;
    margin-bottom: 8px;
}

.forecast-temp {
    font-size: 1.3rem;
    margin: 5px 0;
}

.forecast-desc {
    text-transform: capitalize;
    margin-bottom: 5px;
}